.vscode/

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Next.js
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Supabase
supabase/.temp/
supabase/.branches/

# Database file (if used locally and not intended for commit)
ambi_alert.db

!frontend/src/lib/supabaseClient.ts
